
.all-news {
    max-width: 1000px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    position: relative;


    .news-art {
        position: relative;
        height: 20rem;
        // width: 300px;
    }
    p {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        transition: background 0.3s, color 0.5s 0.3s;
    }

}
p:hover {
    background: rgba(0, 0, 0, 0.9);
}
@media (min-width: 600px) {
    .all-news {
        // max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

        .move-header {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: row;
            line-height: 2rem;
            .logo {
                width: 70px;
                height: 70px;
                position: absolute;
                left: 15%
            }
    }


}

@media (min-width: 1150px){
    .all-news {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        position: relative;
    
        .news-art {
            position: relative;
            height: 20rem;
            width: 22rem;
        }
        p {
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
            transition: background 0.3s, color 0.5s 0.3s;
        }
    
    }
    p:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    .move-header {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        line-height: 2rem;
        .logo {
            width: 70px;
            height: 70px;
            position: absolute;
            left: 15%
        }
    }
}
