body {
    background-color: $main-color;
    color: white;
    font-family: 'Open Sans';
    a {
    text-decoration: none;
    color: white
    }
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 9rem;
    line-height: 2rem;
}


footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top:  12.5rem;
    font-size: 14px;
    font-family: "Open Sans";
    /* font-weight: bold; */
    /* font-style: italic; */
    
}



select {
    width: 8rem;
    height: 2rem;
    font-size: 14px;
    font-weight: bold;
}


.loading{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
display: none;
}

.move-header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    .logo {
        width: 160px;
        height: 160px;
    }
}