body {
    background-color: $main-color;
    color: $text-color;
    font-family: 'Open Sans lite';
    a {
    text-decoration: none;
    color: $text-color;
    }
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 9rem;
    line-height: 2rem;
}


footer {
    text-align: center;
    padding-top: 12rem;
    font-size: 14px;
    font-family: "Open Sans";
    color: #c2c2c2;

}

.move-footer {
padding: 3rem;
}

select {
    width: 8rem;
    height: 2rem;
    font-size: 14px;
    font-weight: bold;
}


.loading{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
display: none;
}

.move-header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    .logo {
        width: 160px;
        height: 160px;
    }
}